<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="../../styles/style04.css" rel="stylesheet" type="text/css">
        <title>Palo Alto</title>
    </head>
    <body class="body">
        <hr class="body__hr">
        <header class="header">
            <img src="../../images/Palo-Alto.png" class="logo"  alt="Logo">
            <nav class="nav nav_top">
                <ul class="nav__ul">
                    <li class="nav__li"><a href="index.html" class="nav__a">home</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">about</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">archive</a></li>
                    <li class="nav__li"><a href="contact.html" class="nav__a">contact</a></li>
                </ul>
                <div class="search-icon"></div>
            </nav>
        </header>
        <main class="main">
            <section class="post">
                <article class="post__article">
                    <header class="post__article__header">
                        <h2 class="post__article__h2">Contact Us</h2>
                    </header>
                    <p class="post__article__p">
                        Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
                    </p>
                    <hr class="article__hr article__hr_1">
                    <form name="form1" class="form">
                        <input type="text" name="firstame" form="form1" class="form__input" tabindex="1" id="i1" value="Your Name">
                        <input type="text" name="lastname" form="form1" class="form__input" tabindex="2" id="i2">
                        <input type="text" name="subject" form="form1" class="form__input" tabindex="3" id="i3" value="Subject">
                        <textarea class="form__textarea" placeholder="Your Message"></textarea>
                    </form>
                    <input type="submit" form="form1" value="send message" class="read-more submit">
                </article>
            </section>
        </main>
        <footer class="footer">
            <section class="footer__section">
                <img src="../../images/Palo-Alto.png" class="footer-logo">
                <nav class="nav nav_bottom">
                    <ul class="nav__ul nav__ul_bottom">
                        <li class="nav__li nav__li__bottom"><a href="index.html" class="nav__a nav__a_bottom">home</a></li>
                        <li class="nav__li nav__li__bottom"><a href="#" class="nav__a nav__a_bottom">about</a></li>
                        <li class="nav__li nav__li__bottom"><a href="#" class="nav__a nav__a_bottom">archive</a></li>
                        <li class="nav__li nav__li__bottom"><a href="contact.html" class="nav__a nav__a_bottom">contact</a></li>
                    </ul>
                    <div class="search-icon search-icon_bottom"></div>
                </nav>
                <hr class="article__hr article__hr_2">
                <blockquote class="blockqoute">
                    <p>Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
                </blockquote>
                <hr class="article__hr article__hr_2">
                <div class="copyrights" align="center">
                    &copy;2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by<span><a href="#" class="copyrights__a">PixelBuddha Team</a></span>
                </div>
                <div class="socials">
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_fb"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_tw"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_inst"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_pin"></div></a>
                </div>
            </section>
        </footer>
    
    </body>
</html>