<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="../../styles/style04.css" rel="stylesheet" type="text/css">
        <title>Home</title>
    </head>
    <body class="body">
        <hr class="body__hr">
        <header class="header">
            <img src="../../images/Palo-Alto.png" class="logo"  alt="Logo">
            <nav class="nav nav_top">
                <ul class="nav__ul">
                    <li class="nav__li"><a href="index.html" class="nav__a">home</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">about</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">archive</a></li>
                    <li class="nav__li"><a href="contact.html" class="nav__a">contact</a></li>
                </ul>
                <div class="search-icon"></div>
            </nav>
        </header>
        
        <main class="main">
            <section class="post">
                <div class="post__button post__button-travel"></div>
                <article class="post__article">
                    <header class="post__article__header">
                        <span class="post__date">Sep 20</span>
                        <h2 class="post__article__h2">No difference how many peaks you reach if there was no pleasure in the climb.</h2>
                        <hr class="article__hr">
                    </header>
                    
                    <main class="post__article__main">
                        <p class="post__article__p">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                        </p>
                    </main>

                    <footer class="post__article__footer">
                        <div class="read-more"><a href="#" class="read-more__a">read more</a></div>

                        <ul class="hash-tags">
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Yosemite</a></li>
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Peak</a></li>
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Explorer</a></li>
                        </ul>
                        
                    </footer>
                </article>
            </section>
            
            <section class="post">
                <img src="../../images/post-cover.png" class="post__cover-img">
                <div class="post__button post__button-observe"></div>
                
                <article class="post__article">
                    
                    <header class="post__article__header">
                        
                        <span class="post__date">Sep 18</span>
                        <h2 class="post__article__h2">You know, I'd rather argue with you, then laugh with anyone else.</h2>
                        <hr class="article__hr">
                        
                    </header>
                    
                    <main class="post__article__main">
                        <p class="post__article__p_mod1">
                            Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
                        </p>
                        <p class="post__article__p">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                        </p>
                        <p class="post__article__p">
                            Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                        </p>
                    </main>

                    <footer class="post__article__footer">
                        <div class="read-more"><a href="#" class="read-more__a">read more</a></div>

                        <ul class="hash-tags">
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Yosemite</a></li>
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Peak</a></li>
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Photo</a></li>
                        </ul>
                    </footer>
                </article>
            </section>
            
            <section class="post">
                
                <div class="post__button post__button-reflect"></div>
                
                <article class="post__article">
                    
                    <header class="post__article__header">
                        
                        <span class="post__date">Sep 11</span>
                        <h2 class="post__article__h2">Democracy means simply the bludgeoning of the people by the people for the people.</h2>
                        <hr class="article__hr">
                        
                    </header>
                    
                    <main class="post__article__main">
                        <img src="../../images/sculpt.png" class="article__img article__img-left">
                        
                        <p class="post__article__p">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                        </p>
                        <p class="post__article__p">
                           Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, vestibulum malesuada justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam
                           quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
                        </p>
                        
                        <p class="post__article__p line">
                            Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
                        </p>
                        
                        <p class="post__article__p">
                           Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
                        </p>
                    </main>

                    <footer class="post__article__footer">
                        <div class="read-more"><a href="#" class="read-more__a">read more</a></div>

                        <ul class="hash-tags">
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Democracy</a></li>
                            <li class="hash-tags__li"><a href="#" class="hash-tags__a">Introspection</a></li>
                        </ul>
                    </footer>
                </article>
            </section>
            
        </main>
        
        <footer class="footer">
            <section class="footer__section">
                <img src="../../images/Palo-Alto.png" class="footer-logo">
                <nav class="nav nav_bottom">
                    <ul class="nav__ul nav__ul_bottom">
                        <li class="nav__li nav__li__bottom"><a href="index.html" class="nav__a nav__a_bottom">home</a></li>
                        <li class="nav__li nav__li__bottom"><a href="#" class="nav__a nav__a_bottom">about</a></li>
                        <li class="nav__li nav__li__bottom"><a href="#" class="nav__a nav__a_bottom">archive</a></li>
                        <li class="nav__li nav__li__bottom"><a href="contact.html" class="nav__a nav__a_bottom">contact</a></li>
                    </ul>
                    <div class="search-icon search-icon_bottom"></div>
                </nav>
                <hr class="article__hr article__hr_2">
                <blockquote class="blockqoute">
                    <p>Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
                </blockquote>
                <hr class="article__hr article__hr_2">
                <div class="copyrights" align="center">
                    &copy;2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by<span><a href="#" class="copyrights__a">PixelBuddha Team</a></span>
                </div>
                <div class="socials">
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_fb"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_tw"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_inst"></div></a>
                    <a href="#" class="socials__icon__a"><div class="socials__icon socials__icon_pin"></div></a>
                </div>
            </section>
        </footer>
    </body>
</html>